{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	  <title> Шифр Цезаря </title>
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src= '{% static "CesarApp/js/jquery.js" %}'></script>
      <link rel="stylesheet" href= '{% static "CesarApp/css/cesar.css" %}'>
      <link rel="stylesheet" href= '{% static "CesarApp/css/material-charts.css" %}'>
      <script type="text/javascript" src= '{% static "CesarApp/js/main.js" %}'></script>
      <script type="text/javascript" src= '{% static "CesarApp/js/material-charts.js" %}'></script>
</head>
<body class="text">
	<p>
		Шифр Цезаря — это вид шифра подстановки, в котором каждый символ в открытом тексте заменяется символом, находящимся на некотором постоянном числе позиций левее или правее него в алфавите. Например, в шифре со сдвигом вправо на 3, А была бы заменена на Г, Б станет Д, и так далее. Шифр назван в честь римского императора Гая Юлия Цезаря, использовавшего его для секретной переписки со своими генералами.
	<hr/>
	</p>	
	<div class = "column">   
		<textarea id = "decrypted" style="height: 200px ; width: 80% ; resize : none" 
					placeholder="Введите секретное слово:" ></textarea><br><br><br>
			<div>
				<input id = "key" type="number" placeholder="Введите ключ:"><br>
				<button style="width:150px;height:40px" id = "btncrypt">Зашифровать</button><br>
				<button style="width:150px;height:40px" id = "btndecrypt">Розшифровать</button><br>
				<button style="width:150px;height:40px" id = "btnclear">Очистить</button><br>
			</div>	
		<textarea id = "crypted" readonly style="height:200px; width:80% ; resize : none" 
					placeholder="Получите шифр Цезаря:"></textarea>     
	</div>
	<div class="chart" id="chart">
		<div class="chart" id="bar-chart"></div>
	</div>

    <div class="info">
		<div id="info-txt-decr"> Введите значение от A до Z в поле слева! Например "Light IT" </div>
		<div id="info-txt-cr"> Здесь можете стопировать зашифрованный текст! </div>
		<div id="info-txt-key"> Введите значение смещения от 1 до 25! Поле должно быть заполнено! </div>
		<div id="info-txt-btncr"> Нажми для шифрования! </div>
		<div id="info-txt-btndecr"> Нажми для разшифрования! </div>
		<div id="info-txt-btnclr"> Нажми для очистки всех полей! </div>
    </div>
 </body>
</html>
