html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.chart {
    width: 80%;
    float: center;
    margin: 15px;
}

.column {
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    text-align:  center;
}
.text {
    text-indent: 20px;
}

.line {
    display: inline;
}
.info{
  background-color: #FFFFF1;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    height: 10%;  
}